<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
        <div class="footer_item_left">
            © Copyright 2015, www.gharkakaam.com. All Rights Reserved. 
        </div>
        
        <div class="nav_item">
        <%= link_to "About Us", "#", class: "footer_item_right", id: "about_us" %>
        <%= link_to "Contact Us", "#", class: "footer_item_right", id: "contact_us" %>
        <%= link_to "Membership Agreement", "#", class: "footer_item_right", id: "membership_agreement" %>
        <%= link_to "Terms of Use", "#", class: "footer_item_right", id: "terms_conditions" %>
        <%= link_to "Privacy Policy", "#", class: "footer_item_right", id: "privacy_policy" %>
        </div>
  </div>
</nav>
</footer>